.contact-social-ortho {
    font-size: 1.25em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.contact-ortho {
    grid-column: 2 / 4;
    margin: 50px auto;
    line-height: 35px;
    width: 300px;
}

.contact-ortho a, .social-ortho a {
    color: #3D0A08;
}

.contact-ortho a:hover, .social-ortho a:hover {
    background-color: #A58570;
    color: #3D0A08;
    padding: 5px;
    border-radius: 8px;
}

.social-ortho {
    grid-column: 4 / 5;
    margin: 30px auto;
    line-height: 35px;
    width: 300px;
}