body {
    font-size: 16px;
}

.ortho-assist {
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding: 19px 0;
    color: #3D0A08;
}

.ortho-text {
    font-size: 1.5em;
    text-align: center;
    color: #3D0A08;
}

.text-li {
    font-size: 1.25;
}

.text-p {
    font-size: 1.2em;
}

.ortho-pros {
    display: grid;
    grid-template-columns: 33% 33% 32%;
    column-gap: 10px;
    line-height: 25px;
}

.ortho-list {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.click-here {
    color: #3D0A08;
}

.red-eddie-div {
    display: flex;
    align-content: center;
    justify-content: center;
}
