.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    column-gap: 30px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 150px;
}

.ortho-why {
    text-decoration: underline;
}

.why-1, .why-2, .why-3 {
    grid-row: 1 / 2;
    font-size: 1.4em;
    font-style: italic;
}

.why-1 {
    grid-column: 1 / 2;
    
}

.why-2 {
    grid-column: 2 / 3;
}

.why-3 {
    grid-column: 3 / 4;
}

.because-1, .because-2, .because-3 {
    font-size: 1.2em;
}

.because-1 {
    grid-row: 2 / 3;
}

.because-2 {
    grid-row: 2 / 3;
}

.because-3 {
    grid-row: 2 / 3;
}